[project]
	description = server and client for repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/menggya
[access "refs/for/refs/*"]
	read = group user/menggya
	push = group user/menggya
	label-Code-Review = -2..+2 group user/menggya
	label-Verified = -1..+1 group user/menggya
	rebase = group user/menggya
	removeReviewer = group user/menggya
	submit = group user/menggya
[access "refs/heads/*"]
	read = group user/menggya
	create = group user/menggya
	push = +force group user/menggya
	pushMerge = group user/menggya
[access "refs/tags/*"]
	push = +force group user/menggya
	pushTag = group user/menggya
	pushSignedTag = group user/menggya
